body {
  background-color: rgb(222, 238, 238);
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
  color: green;
}

.card {
  display: block;
  margin: 60px 0;
}

.d-flex {
  margin-top: 30px;
  margin-bottom: 30px;
}

.cities {
  font-weight: 670;
  font-size: larger;
}

.cities-data {
  font-size: larger;
  font-weight: 550;
}

.btn-outline-success,
.second-button {
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 30px;
}

.btn-success {
  margin-top: 59px;
}

.btn-outline-success {
  margin-top: 59px;
}
.days {
  font-weight: 600;
  font-size: larger;
  text-align: center;
}

.current-temperature {
  font-size: x-large;
  font-weight: 900;
}

.my-name,
.my-site,
.netlify {
  font-weight: 500;
  color: rgb(2, 56, 2);
}

.chosen-city {
  font-size: larger;
  font-weight: 800;
  margin-top: 30px;
}

.weather-forecast-date,
.weather-forecast-temperature-max,
.weather-forecast-temperature-min {
  font-weight: 680;
  font-size: 18px;
}

.days {
  padding-bottom: 18px;
}
